.songs {
  background-color: aqua;
  width: fit-content;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-items: center;
  gap: 16px;
}
.song {
  width: 200px;
  height: 250px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: apearanceAnimation 0.5s ease-in-out;
}
.song img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.song img.rotated {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation:  rotation linear infinite 20s 1.5s;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes apearanceAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
    
    
  }
}