

.songs{
    background-color: aqua;
    width: fit-content;
    padding: 20px;
    display: flex ;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.song{
    width: 200px;
    height: 250px;
    border: 2px solid black;
}
.song{
    
}